.body {
	padding-bottom: 30px;
}

.form_col {
	display: inline-block;
	margin-right: 15px;
	padding: 3px 0px;
	width: 100px;
	min-height: 1px;
	text-align: right;
}

.containerMenuJour {
	display: inline-block;
	padding-right: 60px;
	float: left;
}

.containerMenuJour>input {
	width:300px;
}

.container .container {
	padding-top:60px;
	clear: both;
}

.suggestionsContainer>input, .entreesContainer>input, .platsContainer>input, .dessertsContainer>input {
	display: inline-block;
	width:60%;
	margin-right: 15px;
	margin-bottom: 7px;
}

.suggestionsContainer>input.prix, .entreesContainer>input.prix, .platsContainer>input.prix, .dessertsContainer>input.prix {
	display: inline-block;
	width:10%;
	margin-right: 15px;
	margin-bottom: 7px;
}

#emailing input {
	width:45%;
}

