body {
	font-size: 1.6em;
	margin:0;
	padding: 0;
}

h1, h2, h3{
	font-size: 1.6em;
	color: #7F2524;
}

h4{
	font-size: 1.2em;
	text-decoration: underline; 
	color: #7F2524;
}

.formulesContainer>div {
	width: 100%;
	display: inline-block;
}

.formulesContainer .nom {
	display: inline-block;
	width: 75%;
	float: left;
}

.formulesContainer .prix {
	display: inline-block;
	float: right;
}


.suggestionsContainer>div {
	padding-right: 10%;
	width: 50%;
	display: inline-block;
}

.suggestionsContainer .nom {
	display: inline-block;
	width: 75%;
	float: left;
}

.suggestionsContainer .prix {
	display: inline-block;
	float: right;
}

#sugestions {
	margin-top: 15px;
}

.hidden {
	display: none;
}

#carte .nom {
	display: inline-block;
	width: 75%;
	float: left;
	margin-bottom: 7px;
}

#carte .prix {
	padding-right: 10%;
	display: inline-block;
	float: right;
	margin-bottom: 7px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	border:1px solid #7F2524;
	border-bottom-color: transparent;
	border-radius: 0;
	color: #7F2524;
}

.nav-tabs>li.active>a {
	color: #7F2524;
}

.nav-tabs>li>a {
	font-size: 32px;
	color: #7F2524;
}

ul.nav-tabs {
	border-bottom-color: #7F2524;
}

.nav-tabs>li>a:hover {
	border-bottom-color: #7F2524;
}

#menu span {
	display: block;
}

.navbar-brand {
	position: absolute;
	top:-5px;
	margin-left: 60px;
}

.navbar {
	background-color: #7F2524;
	box-shadow: none;
	border: none;
	border-radius: 0px;
	background-image: none;
	margin-bottom: 70px;
}

.navbar ul {
	margin-right: 60px;
}

.navbar-brand img {
	z-index: 1;
	border: 4px solid #7F2524;
	width: 300px;
}

.footer {
	width:100%;
	height: 100px;
}

.navbar {
	margin-top: 80px;
}

.carousel {
	margin-right: 20px;
}

.container{
	width:960px;
	margin: 0 auto;
}

#myNavbar a {
	text-align: right;
}

.boissonsContainer .domaine {
	display: inline-block;
	font-size: 0.9em;
	font-style: italic;
	margin-bottom: 15px;
}

.boissonsContainer p {
	margin-bottom: 0;
}

@media screen and (max-width:700px) {
	.navbar-brand{
		display: none;
	}
}

@media screen and (max-width:977px) {
	body>.container{
		width: 100%;
	}
}